$prefix: color-;
.#{$prefix} {
    &running {
        background-color:var(--light-running);
    }
    &completed {
        background-color:var(--light-completed);
    }
    &scheduled {
        background-color:var(--light-scheduled);
    } 
    &canceled {
        background-color:var(--light-canceled);
    }
    &white {
        background-color:var(--light-white);
    }
    &link {
        background-color:var(--light-link);
    }
    &starred {
        background-color:var(--light-starred);
    }
    &workset {
        background-color:var(--light-workset);
    }
    &empty-workset {
        background-color:var(--light-empty-workset);
    } 
    &mit-completed {
        background-color:var(--light-mit-completed);
    }
    &mit-abandoned {
        background-color:var(--light-mit-abandoned);
    }
    &note {
        background-color:var(--light-note);
    }
}