# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations
venv
__jac_gen__/
*.jir

# Distribution / packaging
.Python
play/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Others #
.coverage
.session
*.session.db
.DS_Store
.vscode
build
*Zone.Identifier
.DS_Store
parser.out
codegen_output*

*.rdb
node_modules
out.dot
out.txt

# Mypy files #
.mypy_cache*
.jac_mypy_cache*


# Jaclang session files
*.session


# session files
*.bak
*.dat
*.dir
*.log

# Jaclang files
/*.jac