:host {
  display: inline-block;
  box-sizing: border-box;
  --button-color: var(--blue3);
  --button-focus-bg-color: var(--blue8);
  --button-bg-color: var(--blue9);
  --button-hover-bg-color: var(--blue10);
  --button-active-bg-color: var(--blue11);
}

.button {
  all: unset;
  appearance: none;
  background: var(--button-bg-color);
  color: var(--button-color);
  padding: 8px 12px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}

:focus.button {
  box-shadow: 0 0 0 0.15rem var(--color-brand-8);
}

:hover.button {
  background: var(--button-hover-bg-color);
}

:active.button {
  background: var(--button-active-bg-color);
}
