# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations
venv

# General #
*.egg-info/
*.egg
*.prof

# Others #
.coverage
.antlr
.session
.DS_Store
build
test
test-journal
.vscode
js.session
.idea
mydatabase
*Zone.Identifier
.DS_Store

*.rdb
celerybeat-schedule*
node_modules

# Docs
mdbook/

# Docs Pathe
/support/guide/other/cheatsheet.md
/support/guide/other/classes.md
/support/guide/other/stdlib.md