# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
migrations
venv

# General # 
*.egg-info/
*.egg

# Others #
.antlr
.session
.DS_Store
build
.vscode
js.session
.idea
jaseci_kit/jaseci_kit/modules/entity_extraction_type_2/train/train.txt
jaseci_kit/jaseci_kit/modules/entity_extraction_type_2/train/train_backup_file.txt
