<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
  <title>Stencil Component Starter</title>

  <script type="module" src="/build/components.esm.js"></script>
  <script nomodule src="/build/components.js"></script>
  <link rel="stylesheet" href="/build/components.css" />
</head>
<style>
  body {
    width: 100%;
    margin: 0;
    height: 100%;
  }
</style>

<body>
  <jsc-app></jsc-app>

  <script>
    customElements.whenDefined('jsc-app').then(() => {
      const app = document.querySelector('jsc-app');
      const config = {
        siteName: "Hello World",
        theme: "corporate",
        css: {
          background: "#F2F6F9",
          height: "100%"
        }
      }

      app.setGlobalConfig(config)

      app.setMarkup(JSON.stringify(
        [
          {
            component: 'Navbar',
            sections: {
              links: [
                { component: 'NavLink', props: { label: 'My Logs', href: 'https://google.com', color: '#fff' } },
                { component: 'NavLink', props: { label: 'Logout', href: 'https://google.com', color: '#fff' } },
              ],
            },
            props: { label: '{{config:siteName}}' },
          },
          {

            component: 'Row',
            props: {
              items: "center",
              justify: "between",
            },
            css: {
              width: '100%',
              height: '100%',
              padding: '10px 300px',
              display: "flex",
            },
            sections: {
              children: [
                {
                  component: "Text",
                  props: {
                    variant: "h1",
                    value: "Logs"
                  },
                },
                {
                  component: "Button",
                  props: {
                    label: "Add a Log",
                    palette: "accent"
                  }
                }
              ]
            },
          },
          {
            component: "Card",
            props: {
              variant: "outline",
              shadow: "md",
              outlineColor: "red",
              radius: "lg"
            },
            css: {
              padding: "20px 20px",
            },
            sections: {
              children: [
                {
                  component: "Text",
                  props: {
                    variant: "h2",
                    value: "Logs"
                  },
                },
                {
                  component: "Inputbox",
                  props: {
                    label: "Full Name",
                    altLabel: "Enter name",
                    placeholder: "An input field",
                    palette: "accent",
                  },
                  css: {
                  }
                },
                {
                  component: "Textbox",
                  props: {
                    label: "Date",
                    placeholder: "Hello world...",
                    palette: "accent",
                  },
                  css: {
                  }
                },
                // {
                //   component: "Datagrid",
                //   props: {
                //     server: "http://localhost:8000",
                //     walker: "list_tag",
                //     token: "198ab01ffecda8b09c98e2e679257d25644c430690ae0cacd54529bcd83b0b9a",
                //     snt: "urn:uuid:ae422d32-27eb-4ee8-9d91-b1a6b4189caf",
                //     "itemsPerPage": 4,
                //     headings: [
                //       { label: "Labels", accessor: "label" },
                //       { label: "Tag Names", accessor: "label", formatter: "native", format: "Tag: {{value}}" },
                //     ]
                //   }
                // },
                {
                  name: "logsDataGrid",
                  component: "Datagrid",
                  props: {
                    server: "http://localhost:8000",
                    walker: "list_log",
                    token: "198ab01ffecda8b09c98e2e679257d25644c430690ae0cacd54529bcd83b0b9a",
                    snt: "urn:uuid:ae422d32-27eb-4ee8-9d91-b1a6b4189caf",
                    variant: "striped",
                    itemsPerPage: 3,
                    headings: [
                      { label: "Subject", accessor: "subject" },
                      { label: "Message", accessor: "body" },
                      {
                        label: "Date", accessor: "timestamp", formatter: "date", format: "Do MMM, YYYY h:mm a",
                        render: [{ component: "Text", props: { value: "{{value}}" }, "css": { "color": '#006ADC', fontWeight: "bold" } }]
                      },
                      {
                        label: "Actions", accessor: "jid",
                        render: [
                          {
                            component: "Button", props: { label: "Delete" }, events: {
                              // call delete endpoint
                              onClick: [{
                                fn: "callEndpoint",
                                endpoint: "http://localhost:8000/js/walker_run",
                                "onCompleted": { fn: "refreshDatagrid", "args": ['logsDataGrid'] },
                                args: [
                                  'POST',
                                  {
                                    "name": "delete_log",
                                    "snt": "urn:uuid:ae422d32-27eb-4ee8-9d91-b1a6b4189caf",
                                    "ctx": {
                                      "id": "{{value}}"
                                    }
                                  },
                                  {
                                    'Authorization': "token 198ab01ffecda8b09c98e2e679257d25644c430690ae0cacd54529bcd83b0b9a",
                                    "Content-Type": "application/json"
                                  }
                                ]
                              },
                              ],
                            }
                          }
                        ]
                      },
                    ]
                  }
                },
                {
                  "name": "datalist",
                  "component": "Datalist",
                  "props": {
                    "server": "http://localhost:8000",
                    "walker": "list_tag",
                    "token": "198ab01ffecda8b09c98e2e679257d25644c430690ae0cacd54529bcd83b0b9a",
                    "snt": "urn:uuid:ae422d32-27eb-4ee8-9d91-b1a6b4189caf",
                    "getters": [{ "name": "label", "accessor": "label" }],
                    "template": [
                      {
                        "component": "Chip",
                        "props": {
                          "label": "{{label}}"
                        }
                      }
                    ]
                  },
                },
                {
                  "name": "myDialog",
                  "component": "Dialog",
                  "props": {
                    "title": "This is a dialog",
                    "open": "false"
                  },
                  "listeners": {
                    "openDialog": {
                      "open": "true",
                    },
                    "closeDialog": {
                      "$call": [
                        { method: "closeDialog" },
                      ]
                    }
                  },
                  "sections": {
                    "contents": [
                      {
                        "component": "Text",
                        "props": {
                          "value": "Hello"
                        }
                      },
                      {
                        "component": "Button",
                        "props": {
                          "label": "Close this dialog"
                        },
                        "events": {
                          "onClick": [{ "fn": "emit", "args": ["myDialog.closeDialog"] }]
                        }
                      }
                    ]
                  },
                },
                {
                  "name": "myPopover",
                  "component": "Popover",
                  "props": {
                    "open": "false",
                    "target": "popoverTrigger",
                    "title": "A simple popover"
                  },
                  "sections": {
                    "contents": [
                      { "component": "Text", "props": { "value": "Hello world!!" } },
                      { "component": "Text", "props": { "value": "Hello world!!" } },
                      { "component": "Text", "props": { "value": "Hello world!!" } },
                      { "component": "Text", "props": { "value": "Hello world!!" } },
                      { "component": "Text", "props": { "value": "Hello world!!" } }
                    ]
                  },
                  "listeners": {
                    "open": {
                      "$call": [{ method: "openPopover" }],
                    },
                    "toggle": {
                      "$call": [
                        { method: "togglePopover" },
                      ]
                    }
                  }
                },
                {
                  "name": "popoverTrigger",
                  "component": "Button",
                  "props": {
                    "label": "Toggle Popover"
                  },
                  "events": {
                    "onClick": [
                      {
                        "fn": "emit",
                        "args": ["myPopover.toggle"]
                      },

                    ]
                  },
                },
                {
                  "component": "Button",
                  "props": {
                    "label": "Open Dialog",
                    "size": "sm"
                  },
                  "events": {
                    "onClick": [
                      {
                        "fn": "emit",
                        "args": ["myDialog.openDialog"]
                      },

                    ]
                  }
                },
                {
                  "name": "myTabs",
                  "component": "Tabs",
                  "props": {
                    "tabs": [
                      {
                        "name": "tab1",
                        "label": "Home",
                        "render": [{ "component": "Text", "props": { "value": "Tab 1 content" } }]
                      },
                      {
                        "name": "tab2",
                        "label": "Settings",
                        "render": [{ "component": "Text", "props": { "value": "Tab 2 content" } }]
                      },
                      {
                        "name": "tab3",
                        "label": "Messages",
                        "render": [{ "component": "Text", "props": { "value": "Tab 3 content dddddddddd df dfdfdf dfdfdfd dfdfdfdf df dfd fdfdfd fdf dfdfdfdfdfdfdfdf dfd fdf df d dfdfd dfd dd dfdf" } }]
                      },
                    ]
                  }
                }
              ]
            }
          },

          {
            component: "DatePicker",
            props: {
              label: "Date"
            }
          }
        ])
      );
    })
  </script>
</body>

</html>
