@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Load colors */
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/gray.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/red.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/tomato.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/crimson.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/pink.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/plum.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/purple.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/violet.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/indigo.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/blue.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/cyan.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/teal.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/green.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/grass.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/orange.css');
@import url('https://cdn.jsdelivr.net/npm/@radix-ui/colors@latest/brown.css');


:root {
  --color-brand-3: #edf6ff;
  --color-brand-7: #96c7f2;
  --color-brand-8: #5eb0ef;
  --color-brand-9: #0090ff;
  --color-brand-10: #0081f1;
  --color-brand-11: #006adc;
  --color-brand-12: #00254d;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  height: 100%;
}

:root * {
  box-sizing: border-box;
}
