<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jaseci Site</title>
    <script
      type="module"
      src="{{ url_for('static', path='/build/components/components.esm.js') }}"
    ></script>

    <script
      nomodule
      src="{{ url_for('static', path='/build/components/components.js') }}"
    ></script>
    
    <link
      href="{{ url_for('static', path='/build/components/components.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <jsc-graph></jsc-graph>

    <style>
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </body>
</html>
