.day-calendar{
    position:relative;
    width:100%;
}

.day-cert-button{
    top:0;
    left:0;
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#FFFFFFB0
}