anyio==3.5.0
asgiref==3.5.0
breadability==0.1.20
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
docopt==0.6.2
fastapi==0.75.2
h11==0.13.0
idna==3.3
joblib==1.1.0
lxml==4.8.0
nltk==3.7
pycountry==22.3.5
pydantic==1.9.0
regex==2022.3.15
requests==2.27.1
sniffio==1.2.0
starlette==0.17.1
sumy==0.9.0
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6