:root {
    //light theme
    --light-primary:#7BA61F;
    --light-secondary:#CBCBCB;
    --light-third:#1B1714;
    --light-fourth:#413E3B;
    --light-error:#AC2E00;
    --light-success:#708C32;
    --light-disabled:#B5B5B5;
    --light-running:#FFf6AE1E;                                // current in progress
    --light-completed:#B4D7811E;                              // current completed in middle
    --light-scheduled:#ffffed;                              
    --light-canceled:#DFD7D750;                               // current abandoned in middle
    --light-white:#FAFCFA;                                  // current workette
    --light-workset:#FEEDE190;                                // current workset
    --light-empty-workset:#FEEDE190;                          // current empty
    --light-mit-completed:#B4D7811E;                          // current completed
    --light-mit-abandoned:#DFD7D750;                          // current abandoned
    --light-note:#E1F1F7C0;                                   // current note
    --light-app-header:#282c34;
    --light-starred:#FFE66E14;                                // current star
    --light-link:#C4E3EF80;                                   // current link
    /* old
    --light-running:#ededff;                                // current in progress
    --light-completed:#edffed;                              // current completed in middle
    --light-scheduled:#ffffed;                              
    --light-canceled:#ffeeee;                               // current abandoned in middle
    --light-white:#ffffff;                                  // current workette
    --light-workset:#ffefcd;                                // current workset
    --light-empty-workset:#fff6d6;                          // current empty
    --light-mit-completed:#d4ffd4;                          // current completed
    --light-mit-abandoned:#ffdddd;                          // current abandoned
    --light-note:#eeeeee;                                   // current note
    --light-app-header:#282c34;
    --light-starred:#F5C56C;                                // current star
    --light-link:#61dafb;                                   // current link
    */
    //dark theme
    --dark-primary:#7BA61F;
    --dark-secondary:#413E3B;
    --dark-third:#DFDFDF;
    --dark-fourth:#CBCBCB;
    --dark-error:#AC2E00;
    --dark-success:#708C32;
    --dark-disabled:#B5B5B5;
    --dark-running:#ededff;
    --dark-completed:#edffed;
    --dark-scheduled:#ffffed;
    --dark-canceled:#ffeeee;
    --dark-white:#ffffff;
    --dark-workset:#ffefcd;
    --dark-empty-workset:#fff6d6;

}