:root {
    //light theme
    --light-primary:#7BA61F;
    --light-secondary:#CBCBCB;
    --light-third:#1B1714;
    --light-fourth:#413E3B;
    --light-error:#AC2E00;
    --light-success:#708C32;
    --light-disabled:#B5B5B5;
    --light-running:#ededff;
    --light-completed:#edffed;
    --light-scheduled:#ffffed;
    --light-canceled:#ffeeee;
    --light-white:#ffffff;
    --light-workset:#ffefcd;
    --light-empty-workset:#fff6d6;
    --light-mit-completed:#d4ffd4;
    --light-mit-abandoned:#ffdddd; 
    --light-note:#eeeeee;
    --light-link:#61dafb;
    --light-app-header:#282c34;
    //dark theme
    --dark-primary:#7BA61F;
    --dark-secondary:#413E3B;
    --dark-third:#DFDFDF;
    --dark-fourth:#CBCBCB;
    --dark-error:#AC2E00;
    --dark-success:#708C32;
    --dark-disabled:#B5B5B5;
    --dark-running:#ededff;
    --dark-completed:#edffed;
    --dark-scheduled:#ffffed;
    --dark-canceled:#ffeeee;
    --dark-white:#ffffff;
    --dark-workset:#ffefcd;
    --dark-empty-workset:#fff6d6;

}