@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,800;1,100;1,300;1,400;1,600;1,800&display=swap');
.--landing- {
    &background {
        font-family: 'Montserrat', sans-serif;
        background:center/cover no-repeat url('./background_tree_blur.jpg');
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
        position: relative;
        z-index:5;
        overflow-y:auto;
        .logo-header {
            font-size:32px;
            font-weight: bold;
        }
        .logo-img {
            max-width: 250px;
            margin:0 auto;
        }

        form {
            margin-top:1em;
            width:300px;
            justify-content:center;
            
        }
        .form-group{
            margin-bottom:8px;
        }
        
        .navbar-light {
            .navbar-nav {
                .nav-link {
                    color:white !important;
                    border:1px solid white;
                    padding:.25em .5em;
                    &:hover {
                        color:black !important;
                        background-color: white;
                    }
                }
                z-index: 5;
            }
        }
        .background-mask {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.6);
            z-index:3;
        }
    }
    &main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:var(--light-white);
        z-index: 5;
        margin-top:16px;
    }
    &main-header {
        color:var(--light-white);
        font-weight:600;
        margin-bottom: 20px;
    }
    &secondary-header {
        font-size:18px;
        font-weight:500;
    }

    &access-code{
        font-size:14px;
    }

    &button.btn-primary {
        background-color:var(--light-primary);
        border-color: var(--light-success);
        &:hover , &:active {
            background-color: var(--light-success);
            border-color:var(--light-primary);
        }
    }
    &countdown {
        display: flex;
        justify-content: center;
        margin-bottom: 4em;
        z-index: 5;

    }
    &hours, &minutes, &seconds, &days {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 125px;
        height: 125px;
        margin:0 1rem;
        font-size:64px;
        background-color: rgba(65,62,59, .75);
        color:white;
    }

    &click-link {
        text-decoration: underline;
        color:white;
        cursor:pointer;
        &:hover {
            color:white;
        }
    }
}