.helppage {
    font-family:"Montserrat";

    h1{
        font-size: 24px;
        font-weight:bold;
        color:#000000;
        padding-bottom:24px;
    }
    h2{
        font-size: 16px;
        font-weight:bold;
        padding-bottom: 8px;
    }

    body {
        background-color:transparent;
        text-align:center;
    }

    .fixed-col{
        position:fixed;
        width:200px;
    }
}



