/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #058f23;
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #d70025;
}

/* Orange */
.hljs-number,
.hljs-meta,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #b21e00;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #DCDCAA;
}


/* Green */

.hljs-symbol,
.hljs-bullet {
  color: #008200;
}
.hljs-string{
  color : #de9258
}
/* Blue */
.hljs-title,
.hljs-section {
  color: #0030f2;
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: 	#569CD6;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #f1f2f5;
  color: rgb(15, 14, 14);
}

.language-jac {
  background: #1E1E1E;
  color: rgb(241, 234, 234);
}
.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
