<div id="mynetwork" class="box" style="height: 96.5%">


</div>
<div class="button-container" style="height: 3.5%;">
<div class="box" style="overflow: hidden;">
{% with bid="place_walker" bsrc="icons/place.png" btitle="Set Walker Start Node"%} {% include "box-button.html" %} {% endwith %}
{% with bid="step_walker" bsrc="icons/step.png" btitle="Step Walker 1 Node"%} {% include "box-button.html" %} {% endwith %}
{% with bid="run_walker" bsrc="icons/run.png" btitle="Run Walker"%} {% include "box-button.html" %} {% endwith %}
</div>
</div>
<script>
startNetwork();
</script>