<div class="box" style="height: 93%">
<ul style="cursor: pointer;">

    {% for i in graphs %}
    <li>
    <div class="select_graph" id="{{i.id}}">{{i.name}}</div>
        <ul>
        {% for j in i.sentinel_ids.obj_list %}
        <li>
        <div  class="select_sentinel" id="{{j.id}}" graph="{{i.id}}">{{j.name}}</div>
            <ul>
            {% for k in j.walker_ids.obj_list %}
            <li>
            <div  class="select_walker" id="{{k.id}}" graph="{{i.id}}" sentinel="{{j.id}}">{{k.name}}</div>
            </li>
            {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</div>
<div class="button-container" style="height: 7%;">
<div class="box" style="overflow: hidden;">
{% with bid="new_graph" bsrc="icons/graph.png" btitle="Create Graph"%} {% include "box-button.html" %} {% endwith %}
{% with bid="new_sentinel" bsrc="icons/sentinel.png" btitle="Create Sentinel"%} {% include "box-button.html" %} {% endwith %}
{% with bid="delete" bsrc="icons/delete.png" btitle="Delete Asset"%} {% include "box-button.html" %} {% endwith %}
</div>
</div>