:host {
  display: block;
}

.jsc_nav_bar {
  padding: 0 24px;
  height: 60px;
  background: var(--color-brand-9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #edf6ff;
}

.jsc_nav_bar__label {
  font-size: 1.3em;
}

.jsc_nav_bar__links {
  display: flex;
}

.jsc_nav_bar__links__item {
  margin: 0 16px;
}
