name: jaseci_serv Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade pytz==2022.1

    - name: Install jaseci_core
      run: |
        pip3 install jaseci_core/

    - name: Install jaseci_serv and run tests
      if: always()
      run: |
        cd jaseci_serv/
        source install_live.sh
        jsserv test

    - name: test jaseci_serv without redis
      run: |
        cd jaseci_serv/
        jsserv test
      env:
          REDIS_ENABLED: "False"