name: jaseci_core

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black flake8==3.7.9 isort
        
    - name: Install jaseci_core
      run: |
        pip3 install jaseci_core/
    - name: Verify installation
      run: |
        jsctl
    - name: Linting
      continue-on-error: true
      run: |
        flake8 --exclude=settings.py,*migrations*,jac_parse,ci_app
    - name: jaseci_core unit tests
      if: always()
      run: |
        cd jaseci_core/
        python3 -m unittest discover jaseci/ --failfast -p "test_*.py"
