name: Linting and Pre-commit checks for jaclang

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  pre-commit-jaseci:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: jac
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.12

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit hooks
      run: pre-commit run --all-files
