# This workflow will upload a Python Package using Twine when a new tag is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  push:
    tags:
      - "*"

jobs:
  push_jaseci_core_to_pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install build

      - name: Push to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.JASECI_PYPI_API_TOKEN }}
        run: |
          cd jaseci_core
          python3 -m build
          python3 -m twine upload --skip-existing dist/*

  push_jaseci_serv_to_pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install build

      - name: Push to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.JASECI_SERV_PYPI_API_TOKEN }}
        run: |
          cd jaseci_serv
          python3 -m build
          python3 -m twine upload --skip-existing dist/*

  push_jaseci_ai_kit_to_pypi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
          pip install build

      - name: Push to pypi
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.JASECI_JSKIT_PYPI_API_TOKEN }}
        run: |
          cd jaseci_ai_kit
          python3 -m build
          python3 -m twine upload --skip-existing dist/*
